.vscode/
.idea/
.DS_Store
*.log
*.pkg.tar.zst
node_modules/
dist/
build/
.npm
/.pnp
.pnp.js
.docker/
mongo-data/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.nyc_output
*.tsbuildinfo